<div class="cpp-price" {{ block.shopify_attributes }}>
  {%- if current_variant.compare_at_price > current_variant.price -%}
    <span class="cpp-price-compare" style="font-size: {{ block.settings.font_size }}px; color: {{ block.settings.color_compare | default: '#000000' }};">{{ current_variant.compare_at_price | money }}</span>
  {%- endif -%}
  <span class="cpp-price-sale" style="font-size: {{ block.settings.font_size }}px;">{{ current_variant.price | money }}</span>
  <span class="cpp-price-tax">{{ block.settings.tax_label | default: 'inkl. MwSt.' }}</span>
</div>
