<div class="cpp-main-wrap" {{ block.shopify_attributes }}>
  <div class="cpp-main-img">
    <img src="{{ product.featured_image | image_url: width: 900 }}"
         alt="{{ product.featured_image.alt | escape }}"
         id="cpp-mainimg-{{ section_id }}"
         width="900" height="900">
  </div>
  <div class="cpp-arrows">
    <button class="cpp-arrow cpp-prev" data-section="{{ section_id }}" aria-label="Vorheriges Bild">
      <img src="{{ 'arrow-point-to-right.svg' | asset_url }}" alt="" width="12" height="12">
    </button>
    <button class="cpp-arrow cpp-next" data-section="{{ section_id }}" aria-label="Nächstes Bild">
      <img src="{{ 'arrow-point-to-right.svg' | asset_url }}" alt="" width="12" height="12">
    </button>
  </div>
</div>
